/*!
 * # Semantic UI 2.4.2 - Icon
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Icon
*******************************/

@font-face {
  font-family: 'Icons';
  src: '';
  src: url("./../themes/github/assets/fonts/octicons.eot?#iefix") format('embedded-opentype'), url("./../themes/github/assets/fonts/octicons.woff2") format('woff2'), url("./../themes/github/assets/fonts/octicons.woff") format('woff'), url("./../themes/github/assets/fonts/octicons.ttf") format('truetype'), url("./../themes/github/assets/fonts/octicons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
i.icon:before {
  background: none !important;
}


/*******************************
             Types
*******************************/


/*--------------
    Loading
---------------*/

i.icon.loading {
  height: 1em;
  line-height: 1;
  -webkit-animation: icon-loading 2s linear infinite;
          animation: icon-loading 2s linear infinite;
}
@-webkit-keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*******************************
             States
*******************************/

i.icon.hover {
  opacity: 1 !important;
}
i.icon.active {
  opacity: 1 !important;
}
i.emphasized.icon {
  opacity: 1 !important;
}
i.disabled.icon {
  opacity: 0.3 !important;
}


/*******************************
           Variations
*******************************/


/*-------------------
        Fitted
--------------------*/

i.fitted.icon {
  width: auto;
  margin: 0em !important;
}

/*-------------------
         Link
--------------------*/

i.link.icon,
i.link.icons {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
i.link.icon:hover,
i.link.icons:hover {
  opacity: 1 !important;
}

/*-------------------
      Circular
--------------------*/

i.circular.icon {
  border-radius: 500em !important;
  line-height: 1 !important;
  padding: 0.5em 0em !important;
  -webkit-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  width: 2em !important;
  height: 2em !important;
}
i.circular.inverted.icon {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*-------------------
      Flipped
--------------------*/

i.flipped.icon,
i.horizontally.flipped.icon {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
i.vertically.flipped.icon {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

/*-------------------
      Rotated
--------------------*/

i.rotated.icon,
i.right.rotated.icon,
i.clockwise.rotated.icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
i.left.rotated.icon,
i.counterclockwise.rotated.icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*-------------------
      Bordered
--------------------*/

i.bordered.icon {
  line-height: 1;
  vertical-align: baseline;
  width: 2em;
  height: 2em;
  padding: 0.5em 0em !important;
  -webkit-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
}
i.bordered.inverted.icon {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*-------------------
      Inverted
--------------------*/


/* Inverted Shapes */
i.inverted.bordered.icon,
i.inverted.circular.icon {
  background-color: #333333 !important;
  color: #FFFFFF !important;
}
i.inverted.icon {
  color: #FFFFFF;
}

/*-------------------
       Colors
--------------------*/


/* Red */
i.red.icon {
  color: #DB2828 !important;
}
i.inverted.red.icon {
  color: #FF695E !important;
}
i.inverted.bordered.red.icon,
i.inverted.circular.red.icon {
  background-color: #DB2828 !important;
  color: #FFFFFF !important;
}

/* Orange */
i.orange.icon {
  color: #D26911 !important;
}
i.inverted.orange.icon {
  color: #FF851B !important;
}
i.inverted.bordered.orange.icon,
i.inverted.circular.orange.icon {
  background-color: #D26911 !important;
  color: #FFFFFF !important;
}

/* Yellow */
i.yellow.icon {
  color: #FBBD08 !important;
}
i.inverted.yellow.icon {
  color: #FFE21F !important;
}
i.inverted.bordered.yellow.icon,
i.inverted.circular.yellow.icon {
  background-color: #FBBD08 !important;
  color: #FFFFFF !important;
}

/* Olive */
i.olive.icon {
  color: #B5CC18 !important;
}
i.inverted.olive.icon {
  color: #D9E778 !important;
}
i.inverted.bordered.olive.icon,
i.inverted.circular.olive.icon {
  background-color: #B5CC18 !important;
  color: #FFFFFF !important;
}

/* Green */
i.green.icon {
  color: #78CB5B !important;
}
i.inverted.green.icon {
  color: #2ECC40 !important;
}
i.inverted.bordered.green.icon,
i.inverted.circular.green.icon {
  background-color: #78CB5B !important;
  color: #FFFFFF !important;
}

/* Teal */
i.teal.icon {
  color: #00B5AD !important;
}
i.inverted.teal.icon {
  color: #6DFFFF !important;
}
i.inverted.bordered.teal.icon,
i.inverted.circular.teal.icon {
  background-color: #00B5AD !important;
  color: #FFFFFF !important;
}

/* Blue */
i.blue.icon {
  color: #80A6CD !important;
}
i.inverted.blue.icon {
  color: #54C8FF !important;
}
i.inverted.bordered.blue.icon,
i.inverted.circular.blue.icon {
  background-color: #80A6CD !important;
  color: #FFFFFF !important;
}

/* Violet */
i.violet.icon {
  color: #6435C9 !important;
}
i.inverted.violet.icon {
  color: #A291FB !important;
}
i.inverted.bordered.violet.icon,
i.inverted.circular.violet.icon {
  background-color: #6435C9 !important;
  color: #FFFFFF !important;
}

/* Purple */
i.purple.icon {
  color: #A333C8 !important;
}
i.inverted.purple.icon {
  color: #DC73FF !important;
}
i.inverted.bordered.purple.icon,
i.inverted.circular.purple.icon {
  background-color: #A333C8 !important;
  color: #FFFFFF !important;
}

/* Pink */
i.pink.icon {
  color: #E03997 !important;
}
i.inverted.pink.icon {
  color: #FF8EDF !important;
}
i.inverted.bordered.pink.icon,
i.inverted.circular.pink.icon {
  background-color: #E03997 !important;
  color: #FFFFFF !important;
}

/* Brown */
i.brown.icon {
  color: #A5673F !important;
}
i.inverted.brown.icon {
  color: #D67C1C !important;
}
i.inverted.bordered.brown.icon,
i.inverted.circular.brown.icon {
  background-color: #A5673F !important;
  color: #FFFFFF !important;
}

/* Grey */
i.grey.icon {
  color: #767676 !important;
}
i.inverted.grey.icon {
  color: #DCDDDE !important;
}
i.inverted.bordered.grey.icon,
i.inverted.circular.grey.icon {
  background-color: #767676 !important;
  color: #FFFFFF !important;
}

/* Black */
i.black.icon {
  color: #333333 !important;
}
i.inverted.black.icon {
  color: #545454 !important;
}
i.inverted.bordered.black.icon,
i.inverted.circular.black.icon {
  background-color: #333333 !important;
  color: #FFFFFF !important;
}

/*-------------------
        Sizes
--------------------*/

i.mini.icon,
i.mini.icons {
  line-height: 1;
  font-size: 0.4em;
}
i.tiny.icon,
i.tiny.icons {
  line-height: 1;
  font-size: 0.5em;
}
i.small.icon,
i.small.icons {
  line-height: 1;
  font-size: 13px;
}
i.icon,
i.icons {
  font-size: 16px;
}
i.large.icon,
i.large.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 18px;
}
i.big.icon,
i.big.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 20px;
}
i.huge.icon,
i.huge.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 28px;
}
i.massive.icon,
i.massive.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 32px;
}


/*******************************
            Groups
*******************************/

i.icons {
  display: inline-block;
  position: relative;
  line-height: 1;
}
i.icons .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: 0em;
  margin: 0;
}
i.icons .icon:first-child {
  position: static;
  width: auto;
  height: auto;
  vertical-align: top;
  -webkit-transform: none;
          transform: none;
  margin-right: 0.25rem;
}

/* Corner Icon */
i.icons .corner.icon {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
  font-size: 0.45em;
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}
i.icons .top.right.corner.icon {
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
}
i.icons .top.left.corner.icon {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}
i.icons .bottom.left.corner.icon {
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
}
i.icons .bottom.right.corner.icon {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}
i.icons .inverted.corner.icon {
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
}

/* Octicons */
.icon.alert:before {
  content: '\f02d';
}

/*  */
.icon.alignment.align:before {
  content: '\f08a';
}

/*  */
.icon.alignment.aligned.to:before {
  content: '\f08e';
}

/*  */
.icon.alignment.unalign:before {
  content: '\f08b';
}

/*  */
.icon.arrow.down:before {
  content: '\f03f';
}

/*  */
.icon.arrow.left:before {
  content: '\f040';
}

/*  */
.icon.arrow.right:before {
  content: '\f03e';
}

/*  */
.icon.arrow.small.down:before {
  content: '\f0a0';
}

/*  */
.icon.arrow.small.left:before {
  content: '\f0a1';
}

/*  */
.icon.arrow.small.right:before {
  content: '\f071';
}

/*  */
.icon.arrow.small.up:before {
  content: '\f09f';
}

/*  */
.icon.arrow.up:before {
  content: '\f03d';
}

/*  */
.icon.beer:before {
  content: '\f069';
}

/*  */
.icon.book:before {
  content: '\f007';
}

/*  */
.icon.bookmark:before {
  content: '\f07b';
}

/*  */
.icon.briefcase:before {
  content: '\f0d3';
}

/*  */
.icon.broadcast:before {
  content: '\f048';
}

/*  */
.icon.browser:before {
  content: '\f0c5';
}

/*  */
.icon.bug:before {
  content: '\f091';
}

/*  */
.icon.calendar:before {
  content: '\f068';
}

/*  */
.icon.check:before {
  content: '\f03a';
}

/*  */
.icon.checklist:before {
  content: '\f076';
}

/*  */
.icon.chevron.down:before {
  content: '\f0a3';
}

/*  */
.icon.chevron.left:before {
  content: '\f0a4';
}

/*  */
.icon.chevron.right:before {
  content: '\f078';
}

/*  */
.icon.chevron.up:before {
  content: '\f0a2';
}

/*  */
.icon.circle.slash:before {
  content: '\f084';
}

/*  */
.icon.circuit.board:before {
  content: '\f0d6';
}

/*  */
.icon.clippy:before {
  content: '\f035';
}

/*  */
.icon.clock:before {
  content: '\f046';
}

/*  */
.icon.cloud.download:before {
  content: '\f00b';
}

/*  */
.icon.cloud.upload:before {
  content: '\f00c';
}

/*  */
.icon.code:before {
  content: '\f05f';
}

/*  */
.icon.color.mode:before {
  content: '\f065';
}

/*  */
.icon.comment.add:before,
.icon.comment:before {
  content: '\f02b';
}

/*  */
.icon.comment.discussion:before {
  content: '\f04f';
}

/*  */
.icon.credit.card:before {
  content: '\f045';
}

/*  */
.icon.dash:before {
  content: '\f0ca';
}

/*  */
.icon.dashboard:before {
  content: '\f07d';
}

/*  */
.icon.database:before {
  content: '\f096';
}

/*  */
.icon.device.camera:before {
  content: '\f056';
}

/*  */
.icon.device.camera.video:before {
  content: '\f057';
}

/*  */
.icon.device.desktop:before {
  content: '\f27c';
}

/*  */
.icon.device.mobile:before {
  content: '\f038';
}

/*  */
.icon.diff:before {
  content: '\f04d';
}

/*  */
.icon.diff.added:before {
  content: '\f06b';
}

/*  */
.icon.diff.ignored:before {
  content: '\f099';
}

/*  */
.icon.diff.modified:before {
  content: '\f06d';
}

/*  */
.icon.diff.removed:before {
  content: '\f06c';
}

/*  */
.icon.diff.renamed:before {
  content: '\f06e';
}

/*  */
.icon.ellipsis:before {
  content: '\f09a';
}

/*  */
.icon.eye.unwatch:before,
.icon.eye.watch:before,
.icon.eye:before {
  content: '\f04e';
}

/*  */
.icon.file.binary:before {
  content: '\f094';
}

/*  */
.icon.file.code:before {
  content: '\f010';
}

/*  */
.icon.file.directory:before {
  content: '\f016';
}

/*  */
.icon.file.media:before {
  content: '\f012';
}

/*  */
.icon.file.pdf:before {
  content: '\f014';
}

/*  */
.icon.file.submodule:before {
  content: '\f017';
}

/*  */
.icon.file.symlink.directory:before {
  content: '\f0b1';
}

/*  */
.icon.file.symlink.file:before {
  content: '\f0b0';
}

/*  */
.icon.file.text:before {
  content: '\f011';
}

/*  */
.icon.file.zip:before {
  content: '\f013';
}

/*  */
.icon.flame:before {
  content: '\f0d2';
}

/*  */
.icon.fold:before {
  content: '\f0cc';
}

/*  */
.icon.gear:before {
  content: '\f02f';
}

/*  */
.icon.gift:before {
  content: '\f042';
}

/*  */
.icon.gist:before {
  content: '\f00e';
}

/*  */
.icon.gist.secret:before {
  content: '\f08c';
}

/*  */
.icon.git.branch.create:before,
.icon.git.branch.delete:before,
.icon.git.branch:before {
  content: '\f020';
}

/*  */
.icon.git.commit:before {
  content: '\f01f';
}

/*  */
.icon.git.compare:before {
  content: '\f0ac';
}

/*  */
.icon.git.merge:before {
  content: '\f023';
}

/*  */
.icon.git.pull.request.abandoned:before,
.icon.git.pull.request:before {
  content: '\f009';
}

/*  */
.icon.globe:before {
  content: '\f0b6';
}

/*  */
.icon.graph:before {
  content: '\f043';
}

/*  */
.icon.heart:before {
  content: '\2665';
}

/* ♥ */
.icon.history:before {
  content: '\f07e';
}

/*  */
.icon.home:before {
  content: '\f08d';
}

/*  */
.icon.horizontal.rule:before {
  content: '\f070';
}

/*  */
.icon.hourglass:before {
  content: '\f09e';
}

/*  */
.icon.hubot:before {
  content: '\f09d';
}

/*  */
.icon.inbox:before {
  content: '\f0cf';
}

/*  */
.icon.info:before {
  content: '\f059';
}

/*  */
.icon.issue.closed:before {
  content: '\f028';
}

/*  */
.icon.issue.opened:before {
  content: '\f026';
}

/*  */
.icon.issue.reopened:before {
  content: '\f027';
}

/*  */
.icon.jersey:before {
  content: '\f019';
}

/*  */
.icon.jump.down:before {
  content: '\f072';
}

/*  */
.icon.jump.left:before {
  content: '\f0a5';
}

/*  */
.icon.jump.right:before {
  content: '\f0a6';
}

/*  */
.icon.jump.up:before {
  content: '\f073';
}

/*  */
.icon.key:before {
  content: '\f049';
}

/*  */
.icon.keyboard:before {
  content: '\f00d';
}

/*  */
.icon.law:before {
  content: '\f0d8';
}

/*  */
.icon.light.bulb:before {
  content: '\f000';
}

/*  */
.icon.linkify:before {
  content: '\f05c';
}

/*  */
.icon.linkify.external:before {
  content: '\f07f';
}

/*  */
.icon.list.ordered:before {
  content: '\f062';
}

/*  */
.icon.list.unordered:before {
  content: '\f061';
}

/*  */
.icon.location:before {
  content: '\f060';
}

/*  */
.icon.gist.private:before,
.icon.mirror.private:before,
.icon.git.fork.private:before,
.icon.lock:before {
  content: '\f06a';
}

/*  */
.icon.logo.github:before {
  content: '\f092';
}

/*  */
.icon.mail:before {
  content: '\f03b';
}

/*  */
.icon.mail.read:before {
  content: '\f03c';
}

/*  */
.icon.mail.reply:before {
  content: '\f051';
}

/*  */
.icon.mark.github:before {
  content: '\f00a';
}

/*  */
.icon.markdown:before {
  content: '\f0c9';
}

/*  */
.icon.megaphone:before {
  content: '\f077';
}

/*  */
.icon.mention:before {
  content: '\f0be';
}

/*  */
.icon.microscope:before {
  content: '\f089';
}

/*  */
.icon.milestone:before {
  content: '\f075';
}

/*  */
.icon.mirror.public:before,
.icon.mirror:before {
  content: '\f024';
}

/*  */
.icon.mortar.board:before {
  content: '\f0d7';
}

/*  */
.icon.move.down:before {
  content: '\f0a8';
}

/*  */
.icon.move.left:before {
  content: '\f074';
}

/*  */
.icon.move.right:before {
  content: '\f0a9';
}

/*  */
.icon.move.up:before {
  content: '\f0a7';
}

/*  */
.icon.mute:before {
  content: '\f080';
}

/*  */
.icon.no.newline:before {
  content: '\f09c';
}

/*  */
.icon.octoface:before {
  content: '\f008';
}

/*  */
.icon.organization:before {
  content: '\f037';
}

/*  */
.icon.package:before {
  content: '\f0c4';
}

/*  */
.icon.paintcan:before {
  content: '\f0d1';
}

/*  */
.icon.pencil:before {
  content: '\f058';
}

/*  */
.icon.person.add:before,
.icon.person.follow:before,
.icon.person:before {
  content: '\f018';
}

/*  */
.icon.pin:before {
  content: '\f041';
}

/*  */
.icon.playback.fast.forward:before {
  content: '\f0bd';
}

/*  */
.icon.playback.pause:before {
  content: '\f0bb';
}

/*  */
.icon.playback.play:before {
  content: '\f0bf';
}

/*  */
.icon.playback.rewind:before {
  content: '\f0bc';
}

/*  */
.icon.plug:before {
  content: '\f0d4';
}

/*  */
.icon.repo.create:before,
.icon.gist.new:before,
.icon.file.directory.create:before,
.icon.file.add:before,
.icon.plus:before {
  content: '\f05d';
}

/*  */
.icon.podium:before {
  content: '\f0af';
}

/*  */
.icon.primitive.dot:before {
  content: '\f052';
}

/*  */
.icon.primitive.square:before {
  content: '\f053';
}

/*  */
.icon.pulse:before {
  content: '\f085';
}

/*  */
.icon.puzzle:before {
  content: '\f0c0';
}

/*  */
.icon.question:before {
  content: '\f02c';
}

/*  */
.icon.quote:before {
  content: '\f063';
}

/*  */
.icon.radio.tower:before {
  content: '\f030';
}

/*  */
.icon.repo.delete:before,
.icon.repo:before {
  content: '\f001';
}

/*  */
.icon.repo.clone:before {
  content: '\f04c';
}

/*  */
.icon.repo.force.push:before {
  content: '\f04a';
}

/*  */
.icon.gist.fork:before,
.icon.repo.forked:before {
  content: '\f002';
}

/*  */
.icon.repo.pull:before {
  content: '\f006';
}

/*  */
.icon.repo.push:before {
  content: '\f005';
}

/*  */
.icon.rocket:before {
  content: '\f033';
}

/*  */
.icon.rss:before {
  content: '\f034';
}

/*  */
.icon.ruby:before {
  content: '\f047';
}

/*  */
.icon.screen.full:before {
  content: '\f066';
}

/*  */
.icon.screen.normal:before {
  content: '\f067';
}

/*  */
.icon.search.save:before,
.icon.search:before {
  content: '\f02e';
}

/*  */
.icon.server:before {
  content: '\f097';
}

/*  */
.icon.settings:before {
  content: '\f07c';
}

/*  */
.icon.log.in:before,
.icon.sign.in:before {
  content: '\f036';
}

/*  */
.icon.log.out:before,
.icon.sign.out:before {
  content: '\f032';
}

/*  */
.icon.split:before {
  content: '\f0c6';
}

/*  */
.icon.squirrel:before {
  content: '\f0b2';
}

/*  */
.icon.star.add:before,
.icon.star.delete:before,
.icon.star:before {
  content: '\f02a';
}

/*  */
.icon.steps:before {
  content: '\f0c7';
}

/*  */
.icon.stop:before {
  content: '\f08f';
}

/*  */
.icon.repo.sync:before,
.icon.sync:before {
  content: '\f087';
}

/*  */
.icon.tag.remove:before,
.icon.tag.add:before,
.icon.tag:before {
  content: '\f015';
}

/*  */
.icon.telescope:before {
  content: '\f088';
}

/*  */
.icon.terminal:before {
  content: '\f0c8';
}

/*  */
.icon.three.bars:before {
  content: '\f05e';
}

/*  */
.icon.thumbsdown:before {
  content: '\f0db';
}

/*  */
.icon.thumbsup:before {
  content: '\f0da';
}

/*  */
.icon.tools:before {
  content: '\f031';
}

/*  */
.icon.trashcan:before {
  content: '\f0d0';
}

/*  */
.icon.triangle.down:before {
  content: '\f05b';
}

/*  */
.icon.triangle.left:before {
  content: '\f044';
}

/*  */
.icon.triangle.right:before {
  content: '\f05a';
}

/*  */
.icon.triangle.up:before {
  content: '\f0aa';
}

/*  */
.icon.unfold:before {
  content: '\f039';
}

/*  */
.icon.unmute:before {
  content: '\f0ba';
}

/*  */
.icon.versions:before {
  content: '\f064';
}

/*  */
.icon.remove.close:before,
.icon.x:before {
  content: '\f081';
}

/*  */
.icon.zap:before {
  content: '\26A1';
}

/* ⚡ */


/*******************************
         Site Overrides
*******************************/

