<template>
  <div id="app">
    <section class="main-section section">
      <div class="container content">
        <app-matrix
          v-if="init"
          ref="matrix"
        />
      </div>
    </section>
    <div class="box has-text-centered">
      <button @click="sendMatrix()">SEND</button>
      <button @click="restart()">RESTART</button>
      <app-result ref="result" />
    </div>
  </div>
</template>

<script>
import Matrix from "./components/Matrix.vue";
import Result from "./components/Result.vue";
import axios from "axios";

export default {
  name: "app",
  data() {
    return {
      init: true
    };
  },
  components: {
    "app-matrix": Matrix,
    "app-result": Result
  },
  methods: {
    sendMatrix() {
      axios
        .post("http://127.0.0.1:5000/create/", this.$refs.matrix.data)
        .then(response => {
          this.init = false;
          this.$refs.result.set_data(response.data);
          console.log(response);
        })
        .catch(error => console.log(error));
    },
    restart() {
      axios
        .get("http://127.0.0.1:5000/restart/")
        .then(response => {
          this.init = true;
          this.$refs.matrix.restart();
          this.$refs.result.set_data({});
          console.log(response);
        })
        .catch(error => console.log(error));
    }
  }
};
</script>