<template>
  <div class="container">
    <table>
      <tr v-for="l in letters">
        <td v-for="n in numbers">
          <input
            class="input"
            type="number"
            maxlength="1"
            v-model="data[l+n]"
          >
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      letters: ["A", "B", "C", "D", "E", "F", "G", "H", "I"],
      numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8],
      data: {
        A2: "2",
        A5: "1",
        A7: "4",
        A8: "9",
        B1: "8",
        B6: "5",
        B8: "1",
        C0: "3",
        C5: "9",
        D4: "5",
        E3: "3",
        E4: "9",
        E5: "6",
        E6: "2",
        F0: "6",
        F2: "1",
        F5: "4",
        F8: "3",
        G2: "3",
        G8: "2",
        H0: "9",
        H2: "4",
        H4: "6",
        I1: "6",
        I4: "2"
      }
    };
  },
  methods: {
    restart() {
      this.data = {};
    }
  }
};
</script>

<style scoped>
button {
  text-align: center;
}
input {
  width: 30px;
}
table {
  margin: 1em auto;
  width: 50% !important;
}
td {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
}
td:first-child {
  border-left: solid;
}
td:nth-child(3n) {
  border-right: solid;
}
tr:first-child {
  border-top: solid;
}
tr:nth-child(3n) td {
  border-bottom: solid;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
</style>

