<template>
  <table>
    <tr>
      <td>{{data.indexOf(1)!=-1?"&nbsp1&nbsp":"&nbsp.&nbsp"}}</td>
      <td>{{data.indexOf(2)!=-1?"&nbsp2&nbsp":"&nbsp.&nbsp"}}</td>
      <td>{{data.indexOf(3)!=-1?"&nbsp3&nbsp":"&nbsp.&nbsp"}}</td>
    </tr>
    <tr>
      <td>{{data.indexOf(4)!=-1?"&nbsp4&nbsp":"&nbsp.&nbsp"}}</td>
      <td>{{data.indexOf(5)!=-1?"&nbsp5&nbsp":"&nbsp.&nbsp"}}</td>
      <td>{{data.indexOf(6)!=-1?"&nbsp6&nbsp":"&nbsp.&nbsp"}}</td>
    </tr>
    <tr>
      <td>{{data.indexOf(7)!=-1?"&nbsp7&nbsp":"&nbsp.&nbsp"}}</td>
      <td>{{data.indexOf(8)!=-1?"&nbsp8&nbsp":"&nbsp.&nbsp"}}</td>
      <td>{{data.indexOf(9)!=-1?"&nbsp9&nbsp":"&nbsp.&nbsp"}}</td>
    </tr>
  </table>
</template>

<script>
export default {
  props: ["data"]
};
</script>

