<template>
  <div class="container">
    <table>
      <tr v-for="l in letters">
        <td v-for="n in numbers">
          <div v-if="Array.isArray(data[l+n])">
            <mini-table :data="data[l+n]"></mini-table>
          </div>
          <h3 v-else>{{data[l+n]}}</h3>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import MiniTable from "./MiniTable";
export default {
  components: {
    "mini-table": MiniTable
  },
  data() {
    return {
      letters: ["A", "B", "C", "D", "E", "F", "G", "H", "I"],
      numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8],
      data: {}
    };
  },
  methods: {
    set_data(data) {
      this.data = data;
    }
  }
};
</script>

<style scoped>
h3 {
  font-size: 2em;
  font-weight: bold;
}
button {
  text-align: center;
}
input {
  width: 30px;
}
table {
  margin: 1em auto;
  width: 50% !important;
}
td {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
}
td:first-child {
  border-left: solid;
}
td:nth-child(3n) {
  border-right: solid;
}
tr:first-child {
  border-top: solid;
}
tr:nth-child(3n) td {
  border-bottom: solid;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
</style>

